.btn {
  display: inline-block;
  padding: 5px 25px;
  font-weight: 500;
  font-size: 1.9rem;
  
  &--nav {
    transition: all .4s;
    border-radius: 5px;
    color: $color-white;
    border: 1px solid $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-secondary;
    }
  }

  &--header {
    border: 1px solid $color-white;
    padding: 10px 20px;
    color: $color-secondary;
    border-radius: 5px;
    background-color: $color-white;
    transition: .4s all;
    font-weight: 600;
    
    &:hover {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
      color: $color-white;
    }
  }
}