.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.9rem;
  border-radius: 5px;
  transition: all .4s;
  color: $color-white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba($color-black, .2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}

.btn {
  &--nav {
    background-color: $color-primary;
    padding: 5px 25px;
}

  &--header {
    padding: 15px 20px;
    background-color: $color-primary;
    font-weight: 600;
  }
}