.u-push-right {
  margin-right: 5px;
}

.u-align-center {
  text-align: center;
}

.u-display-flex {
  display: flex;
}

.u-flex-end {
  justify-content: flex-end;
}

.u-space-between {
  justify-content: space-between;
}

.u-align-items {
  align-items: center;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-push-top {
  margin-top: 20px;

  &--small {
    margin-top: 10px;
  }

  &--large {
    margin-top: 30px;
  }
}

.u-flush {
  margin: 0;
}

.u-center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-row {
  max-width: 1140px;
  margin: 0 auto;
}

.u-is-active {
  font-weight: 700;
  display: block;
  border-bottom: 2px solid $color-secondary;
  font-size: 1.5rem;
}