.u-push-right {
  margin-right: 1rem;
}

.u-align-center {
  text-align: center;
}

.u-display-flex {
  display: flex;
}

.u-flex-end {
  justify-content: flex-end;
}

.u-space-between {
  justify-content: space-between;
}

.u-align-items {
  align-items: center;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-push-top {
  margin-top: 2rem;

  &--small {
    margin-top: 1rem;
  }

  &--med {
    margin-top: 3rem;
  }

  &--large {
    margin-top: 15rem;
  }
}

.u-flush {
  margin: 0;
}

.u-float-right {
  float: right;
}

.u-center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.u-is-active {
  font-weight: 700;
  display: block;
  border-bottom: 3px solid $color-primary;
  font-size: 1.5rem;
}

.u-image-fit {
  max-width: 100%;
}

.u-soft {
  padding: 10px;
}